*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif ;
}


            /*HEADER*/

header{
    margin-left: 2em;
    margin-right: 5em;
}
.headerimg{
    height: 1.65em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8em;
}
nav ul{
    display: flex;
    gap: 1.5em;
}



nav ul li:hover{
    border-top: 4px solid #0065fc;
    color: #0065fc;
}

@media screen and (max-width: 992px){
    nav {
      display: block;
      border-bottom: 3px solid #f2f2f2;
      padding-bottom: 20px;
    }

    nav ul{
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        gap: 2em;
    }

    .headerimg{
        margin: auto;
    }

    nav ul li:hover{
        border-bottom: 4px solid #0065fc;
        color: #0065fc;
    }
}

        /*SEARCHBAR*/
.searchbar{
    margin-top: 3em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-map{
    display: flex;
    margin-top: 10px;
}

.search-map input{
    font-weight: 600;
    height: 40px;
    width: 200px;
    border: 1px solid #f2f2f2;
    padding: 1.2em;
}

.search-map i{
    background-color: #f2f2f2;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    width: 40px;
    padding: 10px;
}

.search-map button{
    height: 40px;
    width: 95px;
    background-color: #0065fc;
    border: 1px solid gray;
    border-radius: 0 10px 10px 0;
    color:white;
    cursor: pointer;
}

    /*SEARCHFILTRE*/

.searchfiltre{
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 3.5em;
}

.searchcategoryfiltre{
    display: flex;
    gap: 3em;
}

.icon{
    padding-left: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #dfdddf;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    transition: 0.8s;
}

.icon:hover{
    transform: scale(1.05);
    color: blue;
}

.iconfiltre{
    color: #0065fc;
    padding: 10px;
}

.filtresolo{
    font-weight: 600;
    margin: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 992px){
    .searchfiltre{
        display: block;
        align-items: center;
    }
    .searchcategoryfiltre{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1em;
        gap: 1em;
        }

}


/* INFORMATION LOGEMENTS*/
.Informationlogements{
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.Informationlogements i{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
}




/*HOSTING CARD PRINCIPAL*/

.hostingcard{
    background-color:#F2F2F2;
    width: 65%;
    height: 600px;
    border-radius: 15px;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cardbigtitle{
    padding-top: 30px;
    padding-left: 25px;
}
.cardblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 35px;
}
.card{
    background-color: white;
    height: 180px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: .8s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.card img{
    padding: 4px;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 100%;
}

.carddescription{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}


.price{
    font-weight: bold;
}

.colorblue{
    color: #0065fc;
}

.colorgrey{
    color: #dfdddf;
}

/* HOSTINGCARD ET HOSTINGCARD ASIDE COTE A COTE*/
main{
    display: flex;
    align-items: center;
    gap: 2.5em;

}
/*SECTION HOSTING CARD ASIDE*/

.hostingcardaside{
    height: 600px;
    width: 35%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.hostingcardasidetitle{
    padding-top: 30px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.cardblockaside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cardaside{
    display: flex;
    height: 136px;
    width: 290px;
    border: 1px;
    background-color: white;
    border-radius: 15px;
    margin-top: 0.9em;
    transition: 0.8s;
    cursor: pointer;
}

.cardaside:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.imgcardaside{
    width: 110px;
    height: 135px;
    object-fit: cover;
    padding: 4px;
    border-radius: 15px 0px 0px 15px;
}

.etoileaside{
    display: flex;
    align-items: flex-end;
}

.carddescriptionaside{
    margin-left: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardasidetitle{
    font-weight: bold;
}

.priceasidedescription{
    margin-bottom: 1.4em;
}

/*Section activités à Marseille*/

.activitymarseille{
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.activitycardblock{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 2em;
}



.cardactivitymarseille{
    height: 390px;
    width: 260px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.pictureactivity{
    height: 350px;
    width: 259px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.descriptionactivity{
    margin-left: 12px;
    margin-top: 10px;
}


/*FOOTER*/

footer{
    background-color: #F2F2F2;
    width: 90%;
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
}

.footerblock{
    display: flex;
    justify-content: space-around;
}

.footerelementtitle{
    margin-bottom: 11px;
}

.footerelement{
    margin: 1.5em;
}
@media screen {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif ;
}


            /*HEADER*/

header{
    margin-left: 2em;
    margin-right: 5em;
}
.headerimg{
    height: 1.65em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8em;
}
nav ul{
    display: flex;
    gap: 1.5em;
}



nav ul li:hover{
    border-top: 4px solid #0065fc;
    color: #0065fc;
}

@media screen and (max-width: 992px){
    nav {
      display: block;
      border-bottom: 3px solid #f2f2f2;
      padding-bottom: 20px;
    }

    nav ul{
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        gap: 2em;
    }

    .headerimg{
        margin: auto;
    }

    nav ul li:hover{
        border-bottom: 4px solid #0065fc;
        color: #0065fc;
    }
}

        /*SEARCHBAR*/
.searchbar{
    margin-top: 3em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-map{
    display: flex;
    margin-top: 10px;
}

.search-map input{
    font-weight: 600;
    height: 40px;
    width: 200px;
    border: 1px solid #f2f2f2;
    padding: 1.2em;
}

.search-map i{
    background-color: #f2f2f2;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    width: 40px;
    padding: 10px;
}

.search-map button{
    height: 40px;
    width: 95px;
    background-color: #0065fc;
    border: 1px solid gray;
    border-radius: 0 10px 10px 0;
    color:white;
    cursor: pointer;
}

    /*SEARCHFILTRE*/

.searchfiltre{
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 3.5em;
}

.searchcategoryfiltre{
    display: flex;
    gap: 3em;
}

.icon{
    padding-left: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #dfdddf;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    transition: 0.8s;
}

.icon:hover{
    transform: scale(1.05);
    color: blue;
}

.iconfiltre{
    color: #0065fc;
    padding: 10px;
}

.filtresolo{
    font-weight: 600;
    margin: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 992px){
    .searchfiltre{
        display: block;
        align-items: center;
    }
    .searchcategoryfiltre{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1em;
        gap: 1em;
        }

}


/* INFORMATION LOGEMENTS*/
.Informationlogements{
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.Informationlogements i{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
}




/*HOSTING CARD PRINCIPAL*/

.hostingcard{
    background-color:#F2F2F2;
    width: 65%;
    height: 600px;
    border-radius: 15px;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cardbigtitle{
    padding-top: 30px;
    padding-left: 25px;
}
.cardblock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 35px;
}
.card{
    background-color: white;
    height: 180px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: .8s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.card img{
    padding: 4px;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 100%;
}

.carddescription{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}


.price{
    font-weight: bold;
}

.colorblue{
    color: #0065fc;
}

.colorgrey{
    color: #dfdddf;
}

/* HOSTINGCARD ET HOSTINGCARD ASIDE COTE A COTE*/
main{
    display: flex;
    align-items: center;
    gap: 2.5em;

}
/*SECTION HOSTING CARD ASIDE*/

.hostingcardaside{
    height: 600px;
    width: 35%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.hostingcardasidetitle{
    padding-top: 30px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.cardblockaside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cardaside{
    display: flex;
    height: 136px;
    width: 290px;
    border: 1px;
    background-color: white;
    border-radius: 15px;
    margin-top: 0.9em;
    transition: 0.8s;
    cursor: pointer;
}

.cardaside:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.imgcardaside{
    width: 110px;
    height: 135px;
    object-fit: cover;
    padding: 4px;
    border-radius: 15px 0px 0px 15px;
}

.etoileaside{
    display: flex;
    align-items: flex-end;
}

.carddescriptionaside{
    margin-left: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardasidetitle{
    font-weight: bold;
}

.priceasidedescription{
    margin-bottom: 1.4em;
}

/*Section activités à Marseille*/

.activitymarseille{
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.activitycardblock{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 2em;
}



.cardactivitymarseille{
    height: 390px;
    width: 260px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.pictureactivity{
    height: 350px;
    width: 259px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.descriptionactivity{
    margin-left: 12px;
    margin-top: 10px;
}


/*FOOTER*/

footer{
    background-color: #F2F2F2;
    width: 90%;
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
}

.footerblock{
    display: flex;
    justify-content: space-around;
}

.footerelementtitle{
    margin-bottom: 11px;
}

.footerelement{
    margin: 1.5em;
}
}